.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    overflow: hidden;
    height: auto;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 15px;
    margin-bottom: 0px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 15px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin: 15px;
    margin-left: 0px;
}
.sub-content1,.sub-content2,.sub-content3{
    height: 190px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 15px 5px;
}
.sub-content1{
    margin-left: 15px;
}
#advertisement {
    height: 120px;
    width: 650px;
    background-color: purple;
    margin: 15px;
    
}
.row {
    display: flex;
    /* TODO - what should go here? */
}

